<div class="jobpage container-fluid">
  <button class="back"><i class="back-arrow fa fa-reply"></i></button>
  <div class="header">
    <h1 class="job-title center"><%= @jobthing.company %></h1>
    <h2 class="position-title center"><%= @jobthing.position %></h2>
    <% if !applied? %>
    <a href="<%=@jobthing.job_link%>"><button type="button" class="apply-button btn btn-primary btn-sm" action="<%=@jobthing.job_link%>">Apply</button></a>
    <% else %>
      <h3 class="center">Applied</h3>
    <% end %>
  </div>
  <br><br>

  <div class="job-page-box progress-box">
    <h1 class="box-title1 center">Progress
      <span class="space"><button type="button" class="note-button transparent"></button></span>
    </h1>
    <div class="progress-box">
      <% if applied? %>
          <div class="info container-fluid">
            <div class="calendar">
              <div class="month"><%= month(@jobthing.applied.created_at) %></div>
              <div class="date"><%= day(@jobthing.applied.created_at) %></div>
              <div class="year">20<%= year(@jobthing.applied.created_at) %></div>
            </div>
            <p class="date-info">Date Applied</p>
          </div>
      <% end %>

      <% if interviews? %>
        <% @jobthing.interviews.each do |interview| %>
          <!-- logic for whether the interview has been conducted -->
          <div class="info container-fluid">
            <div class="calendar">
              <div class="month"><%= month(interview.interview_date) %></div>
              <div class="date"><%= day(interview.interview_date) %></div>
              <div class="year">20<%= year(interview.interview_date) %></div>
            </div>
            <% if past?(interview.interview_date) %>
              <p class="date-info">Interviewed with <%= interview.interview_with %></p>
            <% else %>
              <p class="date-info">Interview at <%= interview.interview_time %>!</p>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if miscjobthings? %>
        <% @jobthing.miscjobthings.each do |miscjobthing| %>
          <div class="info container-fluid">
            <div class="calendar">
              <div class="month"><%= month(miscjobthing.misc_date) %></div>
              <div class="date"><%= day(miscjobthing.misc_date) %></div>
              <div class="year">20<%= year(miscjobthing.misc_date) %></div>
            </div>
            <% if past?(miscjobthing.misc_date) %>
              <p class="date-info">You did: <%= miscjobthing.name %></p>
            <% else %>
              <p class="date-info">Don't forget: <%= miscjobthing.name %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if outcome? %>
          <div class="info container-fluid">
            <div class="calendar">
              <div class="month"><%= month(@jobthing.outcome.created_at) %></div>
              <div class="date"><%= day(@jobthing.outcome.created_at) %></div>
              <div class="year">20<%= year(@jobthing.outcome.created_at) %></div>
            </div>
            <p class="date-info"><%= success?(@jobthing.outcome.success) %></p>
          </div>
      <% end %>
    </div>
  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Notes<span class="space">trs</span>
      <button type="button" class="note-button transparent" action="/users/<%=@user.id%>/jobthings/<%=@jobthing.id%>/notes/new"><i class="fa fa-plus"></i></button>
    </h1>
      <div class="note-box">
      <% if notes? %>
        <% @jobthing.notes.each do |note| %>
          <div class="notes container-fluid">
            <p class="note-title"><%= note.title %></p>
            <p class="note-content"><%= note.content %></p>
            <%= link_to "Edit", edit_user_jobthing_note_path(@user, @jobthing, note), class: "note-edit" %>
            <%= link_to "Delete", user_jobthing_note_path(@user, @jobthing, note), remote: true, class: "note-delete-button" %>
          </div>

        <% end %>

      <% end %>
    </div>

  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Contacts
      <button type="button" class="contact-button transparent" action="/users/<%=@user.id%>/jobthings/<%=@jobthing.id%>/contacts/new"><i class="fa fa-plus"></i></button>
    </h1>
      <div class="contact-box">
        <% if contacts? %>
          <% @jobthing.contacts.each do |contact| %>
            <div class="notes container-fluid">
              <p class="contact-name"><%= contact.first_name %> <%= contact.last_name %></p>
              <p class="contact-info">Email : <%= contact.email %></p>
              <p class="contact-info">Phone Number: <%= contact.phone_number %></p>
              <%= link_to "Edit", edit_user_jobthing_contact_path(@user, @jobthing, contact), class: "contact-edit" %>
              <%= link_to "Delete", user_jobthing_contact_path(@user, @jobthing, contact), remote: true, class: "contact-delete-button" %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
