<div class="jobpage container-fluid">
  <button class="back"><i class="fa fa-reply"></i></button>
  <div class="header">
    <h1 class="job-title center"><%= @jobthing.company %></h1>
    <h2 class="position-title center"><%= @jobthing.position %></h2>
  </div>
  <br><br>

  <div class="job-page-box">
    <h1 class="box-title center">Progress</h1>

    <% if applied? %>
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month"><%= month(@jobthing.applied.created_at) %></div>
            <div class="date"><%= day(@jobthing.applied.created_at) %></div>
            <div class="year">20<%= year(@jobthing.applied.created_at) %></div>
          </div>
          <p class="date-info">Date Applied</p>
        </div>
    <% end %>

    <% if interviews? %>
      <% @jobthing.interviews.each do |interview| %>
        <!-- logic for whether the interview has been conducted -->
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month"><%= month(interview.interview_date) %></div>
            <div class="date"><%= day(interview.interview_date) %></div>
            <div class="year">20<%= year(interview.interview_date) %></div>
          </div>
          <% if past?(interview.interview_date) %>
            <p class="date-info">Interviewed with <%= interview.interview_with %></p>
          <% else %>
            <p class="date-info">Interview at <%= interview.interview_time %>!</p>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if miscjobthings? %>
      <% @jobthing.miscjobthings.each do |miscjobthing| %>
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month">January</div>
            <div class="date">13</div>
            <div class="year">2015</div>
          </div>
          <p class="date-info"><%= miscjobthing.name %></p>
        </div>
      <% end %>
    <% end %>

    <% if outcome? %>
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month"><%= month(@jobthing.outcome.created_at) %></div>
            <div class="date"><%= day(@jobthing.outcome.created_at) %></div>
            <div class="year">20<%= year(@jobthing.outcome.created_at) %></div>
          </div>
          <p class="date-info"><%= success?(@jobthing.outcome.success) %></p>
        </div>
    <% end %>

  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Notes</h1>

      <% if notes? %>
        <% @jobthing.notes.each do |note| %>
          <div class="notes container-fluid">
            <p class="note-title"><%= note.title %></p>
            <p class="note-content">
              <%= note.content %>
            </p>
          </div>
        <% end %>
      <% end %>


    <button type="button" class="note-button btn btn-primary btn-sm">Add Note</button>
  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Contacts</h1>

      <% if contacts? %>
        <% @jobthing.contacts.each do |contact| %>
          <div class="notes container-fluid">
            <p class="contact-name"><%= contact.first_name %> <%= contact.last_name %></p>
            <p class="contact-info">Email : <%= contact.email %></p>
            <p class="contact-info">Phone Number: <%= contact.phone_number %></p>
          </div>
        <% end %>
      <% end %>

    <button type="button" class="contact-button btn btn-primary btn-sm">Add Contact</button>
  </div>
</div>
