<div class="jobpage container-fluid">
  <button class="back"><i class="fa fa-reply"></i></button>
  <div class="header">
    <h1 class="job-title center"><%= @jobthing.company %></h1>
    <h2 class="position-title center"><%= @jobthing.position %></h2>
  </div>
  <br><br>

  <div class="job-page-box">
    <h1 class="box-title center">Progress</h1>

    <% if @jobthing.applied %>
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month"><%= month(@jobthing.applied.created_at) %></div>
            <div class="date"><%= day(@jobthing.applied.created_at) %></div>
            <div class="year">20<%= year(@jobthing.applied.created_at) %></div>
          </div>
          <p class="date-info">Date Applied</p>
        </div>
    <% end %>

    <% if @jobthing.interviews %>
      <% @jobthing.interviews.each do |interview| %>
        <%= interview.interview_with %>
        <!-- logic for whether the interview has been conducted -->
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month">January</div>
            <div class="date">13</div>
            <div class="year">2015</div>
          </div>
          <p class="date-info">You have interviewed with John at 8am</p>
        </div>
      <% end %>
    <% end %>

    <% if @jobthing.miscjobthings %>
      <% @jobthing.miscjobthings.each do |miscjobthing| %>
        <div class="info container-fluid">
          <div class="calendar">
            <div class="month">January</div>
            <div class="date">13</div>
            <div class="year">2015</div>
          </div>
          <p class="date-info">miscjobthing.name</p>
        </div>
      <% end %>
    <% end %>

    <% if @jobthing.outcome %>

        <div class="info container-fluid">
          <div class="calendar">
            <div class="month"><%= month(@jobthing.outcome.created_at) %></div>
            <div class="date"><%= day(@jobthing.outcome.created_at) %></div>
            <div class="year">20<%= year(@jobthing.outcome.created_at) %></div>
          </div>
          <p class="date-info"><%= success?(@jobthing.outcome.success) %></p>
        </div>
    <% end %>

  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Notes</h1>
    <div class="notes container-fluid">
      <p class="note-title">Note 1</p>
      <p class="note-content">
        Try to send your thank-you note within 24 - 48 hours of your interview or meeting. The note may be handwritten on a small, professional, thank-you note card (if you have extremely neat handwriting and only a brief message to convey), word-processed, or emailed.
      </p>
    </div>

    <button type="button" class="note-button btn btn-primary btn-sm">Add Note</button>
  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Contacts</h1>
    <div class="notes container-fluid">
      <p class="contact-name">John McCain</p>
      <p class="contact-info">Email : </p>
      <p class="contact-info">Phone Number:</p>
    </div>

    <button type="button" class="contact-button btn btn-primary btn-sm">Add Contact</button>
  </div>
</div>
