<div>
  <%= jobthing.company %>

  <button id="create-applied-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/applieds"></button>
  <% if jobthing.applied %>
    <button id="delete-applied-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/applieds/<%=jobthing.applied.id%>"></button>
  <% end %>
</div>
