<div>
  <%= jobthing.company %>
  <!-- refactor this crap! -->

  <button id="create-applied-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/applieds"></button>
  <button id="new-interview-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/interviews/new"></button>
  <button id="create-interview-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/interviews"></button>
  <% if jobthing.has_applied %>
    <button id="delete-applied-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/applieds/<%=jobthing.applied.id%>"></button>
  <% end %>
  <% if jobthing.interviews %>
    <button id="delete-interviews-link" style="display: none" action="/users/<%=@user.id%>/jobthings/<%=jobthing.id%>/destroy_interviews"></button>
  <% end %>
</div>
