<h1>WELCOME</h1>

<%= form_tag '/login', method: :post do |f| %>
  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Sign In" %>
<% end %>

<br>

<%= form_for @user do |f| %>
  First Name: <%= f.text_field :first_name, placeholder: "First Name" %>
  Last Name: <%= f.text_field :last_name, placeholder: "Last Name" %>
  Username: <%= f.text_field :username, placeholder: "Username" %>
  Email: <%= f.text_field :email, placeholder: "Email" %>
  Password: <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Sign Up" %>
<% end %>