<div class="main-page">
  <div class="main-container">
    <h1 class="name-title center"><%= @user.username %>'s JobThing </h1>
    <!-- add user authentication logics here -->
    <%= button_to "Sign Out", logout_path, :method => :delete %>

    <div class="table-responsive col-md-2 ">
      <h2>Job Bucket</h2>

      <table class="table interest-table">
        <% @jobs_w_interest.each do |job_w_interest| %>
          <tr class="item">
            <td><%= render partial: 'jobthing', locals: {jobthing: job_w_interest} %></td>
          </tr>
        <% end %>
      </table>

      <button type="button" class="btn btn-primary new-job" id="show_new_jobthing_form" action="/users/<%=@user.id%>/jobthings/new">Add New</button>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Applied To</h2>
      <table class="table applied-table">
       <% @jobs_w_applied.each do |job_w_applied| %>
          <tr class="item">
            <td><%= render partial: 'jobthing', locals: {jobthing: job_w_applied} %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Interview</h2>
      <table class="table interview-table">
        <% @jobs_w_interview.each do |job_w_interview| %>
          <tr class="item">
            <td><%= render partial: 'jobthing', locals: {jobthing: job_w_interview} %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Misc</h2>
      <table class="table misc-table">
        <% @jobs_w_misc.each do |job_w_misc| %>
          <tr class="item">
            <td><%= render partial: 'jobthing', locals: {jobthing: job_w_misc} %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Outcome</h2>
      <table class="table outcome-table">
        <% @jobs_w_outcome.each do |job_w_outcome| %>
          <tr class="item">
            <td><%= render partial: 'jobthing', locals: {jobthing: job_w_outcome} %></td>
          </tr>
        <% end %>
      </table>
    </div>

      <i class="fa fa-trash trash-can"></i>
  </div>

  <div class="form_container">
    <p class="close-form">Close</p>
  </div>

</div>

<script type="temp" class="job-page">
  <div class="jobpage container-fluid">
    <button class="back"><i class="fa fa-reply"></i></button>
    <div class="header">
      <h1 class="job-title center">Uber</h1>
      <h2 class="position-title center">Software Developer</h2>
    </div>
    <br><br>

    <div class="job-page-box">
      <h1 class="box-title center">Progress</h1>

      <div class="info container-fluid">
        <div class="calendar">
          <div class="month">November</div>
          <div class="date">29</div>
          <div class="year">2014</div>
        </div>
        <p class="date-info">Date Applied </p>
      </div>

      <div class="info container-fluid">
        <div class="calendar">
          <div class="month">January</div>
          <div class="date">13</div>
          <div class="year">2015</div>
        </div>
        <p class="date-info">You have interviewed with John at 8am</p>
      </div>

      <div class="info container-fluid">
        <div class="calendar">
          <div class="month">February</div>
          <div class="date">07</div>
          <div class="year">2015</div>
        </div>
        <p class="date-info">You have a second interview with Mark at 7am </p>
      </div>
    </div>

    <div class="job-page-box box">
      <h1 class="box-title center">Notes</h1>
      <div class="notes container-fluid">
        <p class="note-title">Note 1</p>
        <p class="note-content">
          Try to send your thank-you note within 24 - 48 hours of your interview or meeting. The note may be handwritten on a small, professional, thank-you note card (if you have extremely neat handwriting and only a brief message to convey), word-processed, or emailed.
        </p>
      </div>

      <button type="button" class="note-button btn btn-primary btn-sm">Add Note</button>
    </div>

    <div class="job-page-box box">
      <h1 class="box-title center">Contacts</h1>
      <div class="notes container-fluid">
        <p class="contact-name">John McCain</p>
        <p class="contact-info">Email : </p>
        <p class="contact-info">Phone Number:</p>
      </div>

      <button type="button" class="contact-button btn btn-primary btn-sm">Add Contact</button>
    </div>
  </div>
</script>
<!-- <div class="jobthing_form_container">

</div> -->


