<div class="main-page">
  <div class="main-container">
    <h1 class="name-title center"><%= @user.username %>'s JobThing </h1>
    <!-- add user authentication logics here -->
    <%= button_to "Sign Out", logout_path, :method => :delete %>

    <div class="table-responsive col-md-2 ">
      <h2>Job Bucket</h2><br>
      <div class="table-container1">
        <table class="table interest-table">
          <% @jobs_w_interest.each do |job_w_interest| %>
            <tr class="item">
              <td><%= render partial: 'jobthing', locals: {jobthing: job_w_interest} %></td>
            </tr>
          <% end %>
        </table>
      </div><br>

      <button type="button" class="btn btn-primary new-job" id="show_new_jobthing_form" action="/users/<%=@user.id%>/jobthings/new">Add New</button>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Applied To</h2><br>
      <div class="table-container">
        <table class="table applied-table">
         <% @jobs_w_applied.each do |job_w_applied| %>
            <tr class="item">
              <td><%= render partial: 'jobthing', locals: {jobthing: job_w_applied} %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Interview</h2><br>
      <div class="table-container">
        <table class="table interview-table">
          <% @jobs_w_interview.each do |job_w_interview| %>
            <tr class="item">
              <td><%= render partial: 'jobthing', locals: {jobthing: job_w_interview} %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Misc</h2><br>
      <div class="table-container">
        <table class="table misc-table">
          <% @jobs_w_misc.each do |job_w_misc| %>
            <tr class="item">
              <td><%= render partial: 'jobthing', locals: {jobthing: job_w_misc} %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Outcome</h2><br>
      <div class="table-container">
        <table class="table outcome-table">
          <% @jobs_w_outcome.each do |job_w_outcome| %>
            <tr class="item">
              <td><%= render partial: 'jobthing', locals: {jobthing: job_w_outcome} %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

      <i class="fa fa-trash trash-can"></i>
  </div>

  <div class="form_container">
    <p class="close-form">Close</p>
  </div>

</div>


